{% extends 'adminlayout.html' %}
{% block content %}

<div class="col-lg-11">
    <h2 class="panel-title">Approved</h2>
    <br><br>
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    
                      <th> Code</th>
                      <th> Name</th>
                      <th>Location</th>
                      <th>Phone Number </th>
                      <th>Mana</th>
                      <th>Email</th>
                      <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user %}
                <tr>
                    
                    <td>{{user.tempcode}}</td>
                    <td>{{user.tempname}}</td>
                    <td>{{user.location}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.mana}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.status}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

                 
{% endblock content %}




