  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  
<body style="background-image:url(../static/background/j.jpg);background-repeat: no-repeat;background-size: cover;">
<div class="row">
    <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>
    <div class="container" style="padding-left:300px;
    padding-right:300px;">
        <div class="card" style="background-color: transparent !important;">
            <div class="card-header">
                <h4>User-Registration</h4>
            </div>
            <div class="card-body">
                <form action="/user_reg"  method="POST" class="login-form">
                    <div class="form-group">
                        <label for="fname"><b>First-name</b></label>
                        <input type="text" class="form-control" name="fname">
                    </div>
                    <div class="form-group">
                        <label for="Lname"><b>Last-name</b></label>
                        <input type="text" class="form-control" name="lname">
                    </div>
                    <div class="form-group">
                        <label for="Email"><b>E-mail</b></label>
                        <input type="email" class="form-control"name="email">
                    </div>
                    <div class="form-group">
                        <label for="Date"><b>Date-Of-Birth</b></label>
                        <input type="date" class="form-control" name="dob">
                    </div>
                           <div class="form-group">
                        <label for="text"><b>Star Sign</b></label>
                        <input type="text" class="form-control" name="star">
                    </div>
                    <div class="form-group">
                        <label for="Mobile"><b>Mobile</b></label>
                        <input type="tel" class="form-control" name="number" maxlength="10" pattern="[0-9]{10}" required="">
                    </div>
                    <div class="form-group">
                        <label for="Password"><b>Password</b></label>
                        <input type="password" class="form-control" id="Password" name="password" placeholder="**************">
                    </div>
                    <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-outline-light">
                    </div>
                     <div class="form-group">
                    <small>Return Home &nbsp</small><a href="/">Click Here!</a> &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                    <small> If already register Login </small><a href="/login">Login !</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
